<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <h1><%= user.firstname %>'s Profile</h1>
        <% if (user._id.equals(currentUser._id)){ %>
            <a class="btn btn-primary" href="/user/<%= user._id %>/feed">See your feeds</a>
        <% } else { %>
            <a class="btn btn-primary" href="/user/<%= user._id %>/feed">See their feeds</a>
            <% if (!currentUser.following.includes(user._id)) { %>
                <form class="follow-form" action="/user/<%= user._id %>/profile?_method=PUT" method="POST">
                    <button class="btn btn-success">Follow</button>
                </form>
            <% } else { %>
                <form class="unfollow-form" action="/user/<%= user._id %>/profile?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Unfollow</button>
                </form>
            <% } %>
        <% } %>
    </header>
</div>

<div class="row">
        <div class="container col-sm-4">
            <table class="table table-striped table-sm">
                <tbody>
                <tr>
                    <th scope="row">Given name</th>
                    <td><%= user.firstname %></td>
                </tr>
                <tr>
                    <th scope="row">Family name</th>
                    <td><%= user.lastname %></td>
                </tr>
                <tr>
                    <th scope="row">E-mail</th>
                    <td><%= user.username %></td>
                </tr>
                </tbody>
            </table>
        </div>
    <div class="col-sm-6">

    </div>
</div>

<% include ../partials/footer %>