<% include ../partials/header %>
<div class="container">
    <header class="jumbotron">
        <h1><%= user.firstname %>'s Posts <a class="btn btn-success" href="/user/<%= user._id %>/profile">See profile</a></h1>
        <% if (user._id.equals(currentUser._id)){ %>
            <p>
                <a class="btn btn-jump" href="/user/<%= currentUser._id %>/feed/new">Make a new feed</a>
            </p>
        <% } %>
    </header>
    <div>
        <% user.feed.forEach(function(feeds){ %>
            <div class="well">
                <h2 class="text-name">
                    <%= feeds.author.firstname %>
                    <% if (currentUser._id.equals(user._id)) { %>
                    <form class="delete-form" style="display: inline" action="/user/<%= currentUser._id %>/feed/<%= feeds._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-xs btn-danger">Delete</button>
                    </form>
                    <% } %>
                </h2>

                <p class="content">
                    <%- feeds.content.substring(0, 100) %>
                    <% if (feeds.content.length > 100) { %>
                    ...
                    <% } %>
                </p>
                <a href="/user/<%= feeds.author_id %>/feed/<%= feeds._id %>">Read more</a>

            </div>
        <% }); %>
    </div>
</div>


<% include ../partials/footer %>